@tailwind base;
@tailwind components;
@tailwind utilities;
/* Corpo geral */
body {
  font-family: 'Raleway', sans-serif;
  color: #4b3a2c;
  line-height: 1.6;
}


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #4b3a2c;
  font-weight: 700;
}


/* Pequenos detalhes */
small {
  font-family: 'Cormorant Garamond', serif;
  color: #7d6e57;
}
